version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: "weekly"

  - package-ecosystem: pip
    directory: /
    schedule:
      interval: "weekly"
      groups:
        production-dependencies:
            dependency-type: "production"
            applies-to: "version-updates"
            patterns:
                - "*"
            update-types:
                - "minor"
                - "patch"
        development-dependencies:
            dependency-type: "development"
            applies-to: "version-updates"
            patterns:
                - "*"
            update-types:
                - "minor"
                - "patch"
 
