name: 01 - Build and Push Data Ingestion Container
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
permissions:
  # Checkout repository
  contents: read
  # Push container images
  packages: write
  # This is required for requesting the JWT
  id-token: write
jobs:
  push-data-ingestion-container:
    name: data_ingestion
    runs-on: ubuntu-24.04
    env:
      IMAGE_NAME: gardenlinux/glvd-data-ingestion
      IMAGE_TAG: latest
      # Change this if you fork the repo
      OIDC_AUDIENCE: glvd

    steps:
    - name: Checkout repo
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Install qemu dependency for multi-arch build
      run: |
        sudo apt-get update
        sudo apt-get install -y qemu-user-static

    - name: Build Image
      id: build_image
      uses: redhat-actions/buildah-build@7a95fa7ee0f02d552a32753e7414641a04307056 # v2.13
      with:
        image: ${{ env.IMAGE_NAME }}
        tags: ${{ env.IMAGE_TAG }}
        platforms: linux/amd64, linux/arm64
        containerfiles: |
          ./Containerfile

    - name: Push To ghcr.io
      id: push-to-ghcr
      if: ${{ github.event_name != 'pull_request' }}
      uses: redhat-actions/push-to-registry@5ed88d269cf581ea9ef6dd6806d01562096bee9c # v2.8
      with:
        image: ${{ steps.build_image.outputs.image }}
        tags: ${{ steps.build_image.outputs.tags }}
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Print image details
      if: ${{ github.event_name != 'pull_request' }}
      run: |
        echo "Image pushed to ${{ steps.push-to-ghcr.outputs.registry-paths }}"
        echo "Digest ${{ steps.push-to-ghcr.outputs.digest }}"

    - name: Authenticate to cluster
      id: kube_auth
      uses: gardener/cc-utils/.github/actions/kubernetes-auth@f60d6c666d3719f2c0c2b7c479808dcd26d14f98 # ocm/0.2.0
      with:
        server: https://api.dev.gl-dev.shoot.canary.k8s-hana.ondemand.com
        server-ca-discovery-url: https://discovery.ingress.garden.canary.k8s.ondemand.com/projects/gl-dev/shoots/6a3efe36-1d56-4e07-83f6-36720207b51b/cluster-ca
        audience: ${{ env.OIDC_AUDIENCE }}

    - name: Deploy the image
      if: ${{ github.event_name != 'pull_request' }}
      env:
        KUBECONFIG: kubeconfig.yaml
      run: kubectl --namespace glvd set image cj/glvd-ingestion data-ingestion=ghcr.io/gardenlinux/glvd-data-ingestion@${{ steps.push-to-ghcr.outputs.digest }}
