name: 02 - Dump GLVD Postgres Snapshot to sql file
on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * 1'

jobs:

  # Code duplication with 99-test-data-ingestion-container.yaml
  # Should be resolved more elegantly
  download-changelogs:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: '3.13'

    # Use week as the cache key to balance the desire to avoid double work
    # with the requirement to get updated changelogs on a regular basis.
    - name: Get Week Number
      id: get-date
      run: |
        echo "date=$(/bin/date -u "+%V")" >> $GITHUB_OUTPUT
      shell: bash

    - name: Cache Changelogs
      id: cache-changelogs
      uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
      with:
        path: changelogs
        key: debian-source-changelog-files-week-${{ steps.get-date.outputs.date }}

    - run: pip install --break-system-packages python-debian
    - run: pip install --break-system-packages .

    - name: Download debian package changelogs
      if: steps.cache-changelogs.outputs.cache-hit != 'true'
      run: python3 src/glvd/download_changelog_files.py

    - name: Upload changelog-files
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: changelog-files
        path: changelogs

  dump-db-snapshot:
    runs-on: ubuntu-latest
    needs: download-changelogs
    container: ghcr.io/gardenlinux/glvd-data-ingestion:latest
    env:
      PGUSER: glvd
      PGDATABASE: glvd
      PGPASSWORD: glvd
      PGHOST: postgres
      PGPORT: 5432

    services:
      postgres:
        image: ghcr.io/gardenlinux/glvd-postgres:latest
        env:
          POSTGRES_USER: glvd
          POSTGRES_DB: glvd
          POSTGRES_PASSWORD: glvd
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - name: Check out repository code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Download changelog-files
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: changelog-files
          path: changelogs

      # fixme: /changelogs is the expected location in ingest_changelogs.py
      # should be configurable
      - run: ln -s $PWD/changelogs /changelogs

      - name: Display structure of changelog-files
        run: ls -R changelogs

      - run: DATABASE_URL=postgres://$PGUSER:$PGPASSWORD@$PGHOST:$PGPORT/$PGDATABASE bin/migrate-all /usr/local/src/schema

      - name: Ingest Data
        run: /usr/local/src/ingest-postgres.sh

      - run: |
          echo "$PGHOST:$PGPORT:$PGDATABASE:$PGUSER:$PGPASSWORD" > ~/.pgpass
          chmod 0600 ~/.pgpass

      - name: Dump Database Snapshot
        run: |
          pg_dump -h postgres -p 5432 -U glvd glvd > glvd.sql

      - name: Dump Database Schema
        run: |
          pg_dump --schema-only -h postgres -p 5432 -U glvd glvd > glvd-schema.sql

      - name: Dump dist_cpe table
        run: |
          psql -U glvd --csv -c "select * from public.dist_cpe;" glvd > dist_cpe.csv

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: glvd.sql
          path: glvd.sql
          retention-days: 8

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: glvd-schema.sql
          path: glvd-schema.sql
          retention-days: 8

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: dist_cpe.csv
          path: dist_cpe.csv
          retention-days: 8
