name: 98 - Build and Push Changelogs Downloader Container
on:
  workflow_dispatch:
permissions:
  # Checkout repository
  contents: read
  # Push container images
  packages: write
jobs:
  push-data-ingestion-container:
    name: data_ingestion
    runs-on: ubuntu-24.04
    env:
      IMAGE_NAME: gardenlinux/glvd-changelogs-downloader
      IMAGE_TAG: latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Install qemu dependency for multi-arch build
      run: |
        sudo apt-get update
        sudo apt-get install -y qemu-user-static

    - name: Build Image
      id: build_image
      uses: redhat-actions/buildah-build@7a95fa7ee0f02d552a32753e7414641a04307056 # v2.13
      with:
        image: ${{ env.IMAGE_NAME }}
        tags: ${{ env.IMAGE_TAG }}
        platforms: linux/amd64, linux/arm64
        containerfiles: |
          ./Containerfile.changelog-downloader

    - name: Push To ghcr.io
      id: push-to-ghcr
      if: ${{ github.event_name != 'pull_request' }}
      uses: redhat-actions/push-to-registry@5ed88d269cf581ea9ef6dd6806d01562096bee9c # v2.8
      with:
        image: ${{ steps.build_image.outputs.image }}
        tags: ${{ steps.build_image.outputs.tags }}
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Print image details
      if: ${{ github.event_name != 'pull_request' }}
      run: |
        echo "Image pushed to ${{ steps.push-to-ghcr.outputs.registry-paths }}"
        echo "Digest ${{ steps.push-to-ghcr.outputs.digest }}"
