name: 99 - Test Data Ingestion Container

on:
  workflow_dispatch:
    inputs:
      branch:
        default: main
        description: Branch to test on

jobs:

  download-changelogs:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: '3.13'

    # Use week as the cache key to balance the desire to avoid double work
    # with the requirement to get updated changelogs on a regular basis.
    - name: Get Week Number
      id: get-date
      run: |
        echo "date=$(/bin/date -u "+%V")" >> $GITHUB_OUTPUT
      shell: bash

    - name: Cache Changelogs
      id: cache-changelogs
      uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
      with:
        path: changelogs
        key: debian-source-changelog-files-week-${{ steps.get-date.outputs.date }}

    - run: pip install --break-system-packages python-debian
    - run: pip install --break-system-packages .

    - name: Download debian package changelogs
      if: steps.cache-changelogs.outputs.cache-hit != 'true'
      run: python3 src/glvd/download_changelog_files.py

    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: changelog-files
        path: changelogs

  build-and-test:
    runs-on: ubuntu-latest
    needs: download-changelogs

    services:
      postgres:
        image: ghcr.io/gardenlinux/glvd-postgres:latest
        env:
          POSTGRES_USER: glvd
          POSTGRES_DB: glvd
          POSTGRES_PASSWORD: glvd
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    env:
      PGUSER: glvd
      PGDATABASE: glvd
      PGPASSWORD: glvd
      PGHOST: localhost
      PGPORT: 5432

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ inputs.branch }}

      - name: Download changelog-files
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: changelog-files
          path: changelogs

      - name: Display structure of changelog-files
        run: ls -R changelogs

      - name: Build and Test
        run: |
          docker build -t data-ingestion-test -f Containerfile .
          docker run --network=host --name=data-ingestion-test --volume $PWD/changelogs:/changelogs --env PGUSER --env PGDATABASE --env PGPASSWORD --env PGHOST --env PGPORT data-ingestion-test \
            bash -c "/usr/local/src/container-ci.sh"
          docker cp data-ingestion-test:/tmp/glvd-dump.sql ./glvd-dump.sql
          docker cp data-ingestion-test:/tmp/glvd-schema.sql ./glvd-schema.sql

      - name: Upload db schema
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: glvd-schema.sql
          path: glvd-schema.sql

      - name: Upload db dump
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: glvd-dump.sql
          path: glvd-dump.sql
