name: 99 - Test Data Ingestion Container

on:
  workflow_dispatch:
    inputs:
      branch:
        default: main
        description: Branch to test on

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: ghcr.io/gardenlinux/glvd-postgres:latest
        env:
          POSTGRES_USER: glvd
          POSTGRES_DB: glvd
          POSTGRES_PASSWORD: glvd
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    env:
      PGUSER: glvd
      PGDATABASE: glvd
      PGPASSWORD: glvd
      PGHOST: localhost
      PGPORT: 5432

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}

      - name: Build and Test
        run: |
          docker build -t data-ingestion-test -f Containerfile .
          docker run --network=host --name=data-ingestion-test --env PGUSER --env PGDATABASE --env PGPASSWORD --env PGHOST --env PGPORT data-ingestion-test \
            bash -c "/usr/local/src/container-ci.sh"
          docker cp data-ingestion-test:/tmp/glvd-dump.sql ./glvd-dump.sql

      - name: Upload db dump
        uses: actions/upload-artifact@v4.6.2
        with:
          name: glvd-dump.sql
          path: glvd-dump.sql
